{% extends '../layout/base.html' %}

{% block title %}Mi Libreria{% endblock title %}

{% comment %} AGREGO ESTE PLACEHOLDER PARA LINKEAR EL LOGO DEL NAV {% endcomment %}

{% block content %}
    <div class="row vh-90 d-flex align-items-center justify-content-center" style="margin: 25vh 25vh 25vh 25vh">
    <div class="col-md-6">
            <h2>Mi</h2>
            <h1>Biblioteca</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum quam a efficitur finibus.</p>
            <button class="btn btn-primary">Botón 1</button>
            <button class="btn btn-secondary">Botón 2</button>
    </div>

    <div class="col-md-6">
        <img src="" alt="Imagen de la biblioteca">
    </div>
</div>
{% endblock content %}


