<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Prestamo</title>
</head>
<body>
    <a href="{% url 'listado_prestamos' %}">Lista de Prestamos</a>
    <br><br>

    <form method="post">
    {% csrf_token %}

        <div>
            <label>Socio</label>
            <select name="socio" id="socio" >
                {% for socio in socios %}
                    <option value="{{ socio.id }}"> {{socio.nombre}} {{socio.apellido}}</option>
                {% endfor %}
            </select>
        </div>
        <br>

        <div>
            <label>Libro</label>
            <select name="libro" id="libro">
                {% for libro in libros %}
                    <option value="{{ libro.id }}"> {{libro.lib_titulo}} </option>
                {% endfor %}
            </select>
        </div>
        <br>

        <div>
            <label>Empleado</label>
            <select name="empleado" id="empleado">
                {% for empleado in empleados %}
                    <option value="{{ empleado.id }}"> {{empleado.emp_nombre}} {{empleado.emp_apellido}} </option>
                {% endfor %}
            </select>
        </div>
        <br>

        <button type="submit">Guardar</button>
    </form>
</body>
</html>