<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Empleado</title>
</head>
<body>
    <a href="{% url 'crear_empleado' %}">Agregar empleado</a>
    <br><br>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Legajo</th>
			<th>Estado</th>
            <th>Modificar</th>
        </tr>
        
        {% for empleado in empleados %}
			<tr>
				<td>{{empleado.id}}</td>
				<td>{{empleado.emp_nombre}}</td>
				<td>{{empleado.emp_apellido}}</td>
				<td>{{empleado.emp_legajo}}</td>
				<td>
                    {% if empleado.emp_activo %}
                        <a href="{% url 'desactivar_empleado' empleado.id %}">Desactivar</a>
                    {% else %}
                        <a href="{% url 'activar_empleado' empleado.id %}">Activar</a>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'modificar_empleado' empleado.id %}">Editar</a>
                </td>
			</tr>
        {% endfor %}
    </table>
</body>
</html>