{% extends '../layout/base.html' %}

{% block title %}Agregar Autor{% endblock title %}

{% block content %}


    <div class="row vh-100">

        <div class="col-lg-3" style="background-color: #DEDEDE;"></div>

        <div class="col-lg-6 shadow-lg p-3">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card" style="margin-top: 15vh">
                            <div class="card-header text-white" style="background-color: #282d37;">
                                <div class="row d-flex align-items-center ">

                                    <div class="col-6">
                                        <h5 class="mb-0">Nuevo Autor</h5>
                                    </div>

                                    <div class="col-6 text-end">
                                        <a class="btn btn-light p-2 px-3" href="{% url 'listado_autores' %}">Volver</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">

                                <form method="post">
                                    {% csrf_token %}
                                    <table>
                                        <tr>
                                            <div class="form-group">
                                                <td><label for="nombre">Nombre:</label></td>
                                                <td><input type="text" id="nombre" name="nombre" required="" pattern="[a-zA-Z, ]+"></td>
                                            </div>
                                        </tr>
                                        <tr>
                                            <div class="form-group"> 
                                                <td><label for="apellido">Apellido:</label></td>
                                                <td><input type="text" id="apellido" name="apellido" required="" pattern="[a-zA-Z, ]+"></td>
                                            </div>
                                        </tr>   
                                       <tr> 
                                            <div class="form-group">
                                                <td><label for="nacionalidad">Nacionalidad:</label></td>
                                                <td><input type="text" id="nacionalidad" name="nacionalidad" required="" pattern="[a-zA-Z, ]+"></td>
                                            </div>
                                        </tr>
                                        <tr>
                                            <div class="text-center">
                                                <td><button type="submit" class="btn btn-dark text-center">Guardar</button></td>
                                            </div>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3" style="background-color: #DEDEDE;">

        </div>
    </div>
{% endblock content %}