<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Autores</title>
</head>
<body>
    <a href="{% url 'crear_autor' %}">Agregar autor</a>
    <br><br>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Nacionalidad</th>
			<th>Estado</th>
            <th>Modificar</th>
        </tr>
        
        {% for autor in autores %}
			<tr>
				<td>{{autor.id}}</td>
				<td>{{autor.nombre}}</td>
				<td>{{autor.apellido}}</td>
				<td>{{autor.nacionalidad}}</td>
                <td>
                    {% if autor.activo %}
                        <a href="{% url 'desactivar_autor' autor.id %}">Activo</a>
                    {% else %}
                        <a href="{% url 'activar_autor' autor.id %}">Inactivo</a>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'modificar_autor' autor.id %}">Editar</a>
                </td>
			</tr>
        {% endfor %}
    </table>
</body>
</html>