{% extends '../layout/base.html' %}

{% block title %}Listado Socios{% endblock title %}

{% block content %}

    
    <div class="row p-2 mt-5 mx-3 align-items-center" style="background-color: #DEDEDE; border-radius: 10px">
        <div class="col text-start">
            <h3>Socios</h3>
        </div>
        <div class="col text-end">
            <a class="btn btn-light p-1 px-3 me-2" href="{% url 'home' %}">Volver</a>
            <a class="btn btn-dark p-1 px-3 me-2" href="{% url 'crear_socio' %}">Nuevo</a>
        </div>
    </div>

    <div class="mx-3">
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Nacimiento</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for socio in socios %}
                    <tr>
                        <th scope="row">{{socio.id}}</th>
                        <td>{{socio.nombre}}</td>
                        <td>{{socio.apellido}}</td>
                        <td>{{socio.fecha_nacimiento | date:"d/m/Y"}}</td>
                        <td>
                            {% if socio.activo %}
                                <a href="{% url 'desactivar_socio' socio.id %}">
                                    <i class="bi bi-check-circle-fill link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover ms-3"></i>
                                </a>
                            {% else %}
                                <a href="{% url 'activar_socio' socio.id %}">
                                    <i class="bi bi-x-circle-fill link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover ms-3"></i>
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'modificar_socio' socio.id %}">
                                <i class="bi bi-pencil-square link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover ms-2"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}